# Databricks Core Connection
MLFLOW_TRACKING_URI=databricks
DATABRICKS_HOST=https://<your-databricks-workspace-url>
DATABRICKS_TOKEN=<your-personal-access-token>

# Unity Catalog Model Registry Naming
UC_CATALOG=wks_aisd
UC_SCHEMA=kie_project
UC_MODEL_NAME=kie_pipeline_model

# Pipeline Configs (Generated)
MODEL_URI=
